.appBook {
    grid-area: app-content;
}

.book {
    max-width: 320px;
    margin: 0 5% 5% 28%;
}

.img {
    display: block;
    margin: 0 0 0 32%;
    width: 20%;
    height: auto;
}

.alert {
    margin: auto;
    display: table;
}